@import "tailwindcss";

/* Add a subtle icon to the buttons using pseudo-elements */
.action-sheet__action--edit-tags::before {
  background-image: url(/assets/icons/reversed/edit--white-e120a49ba66e68aeae835260bb34220cf274596d9fffb3108431d9f0ed7b1847.svg);
}

.action-sheet__action--edit-statuses::before {
  background-image: url(/assets/icons/reversed/edit--white-e120a49ba66e68aeae835260bb34220cf274596d9fffb3108431d9f0ed7b1847.svg);
}

/* modal.css */

.bca-modal-overlay {
  display: flex;
  background: var(--tint-black-50);
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: var(--z-modal);
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.bca-modal-overlay .modal-sheet.modal-sheet--w-small {
  overflow-y: scroll;
  --modal-inset-padding: var(--modal-padding-medium);
}

div.loading {
  display: flex;
}
div.loading:after {
  content: "";
}
div.loading:after {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin: -2rem 0 0 -2rem;
  inline-size: 4rem;
  block-size: 4rem;
  opacity: 0.5;
  border-radius: 100%;
}
div.loading:after {
  animation: pulse-background 1s ease infinite;
  background-image: url(/assets/icons/loader-5841f3d6410bd653a6acdb6433ac4ea78ea8a4c5b59390b2bd2666f1fce16909.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.1em;
}
.bca-list-actionable__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--tint-ink-10);
}
.bca-list-actionable__row .bca-list-actionable__details{
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-actionable__badge {
  padding: 2px 8px;
  border-radius: 4px;
  min-width: 50px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.bca-list-actionable__label{
    font-weight: 500;
    
}